html, body{
	margin: 0;
	padding: 0;
}
div#password-area{
	background: rgba(180,180,180,0.9);
	margin: 100px 33%;
	padding: 10px 20px 50px 20px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}
p#password-title{
	font-weight: bolder;
	text-decoration: underline;
	font-size: 14px;
	text-align: center;
}
input#inputText{
	border-radius: 4px;
	display: block;
	width: 98%;
	font-size: 12px;
}
button#passStrength{
	color: #000;
	margin: 5px 0;
	background-color: #ccc;
	-webkit-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
	box-shadow: 4px 4px 11px 3px rgba(0,0,0,0.3);
	border-radius: 4px;
	width: 100%;
	height: 40px;
	font-size: 16px;
}
label{
	margin-top: 10px;
	margin-bottom: 0px;
	display: none;
	width: 98%;
}
div#result-panel{
	border-radius: 4px;
	margin-top: 0px;
	padding: 5px;
	width: 97%;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.veryStrongPass{
	background-color: green;
}
.strongPass{
	background-color: orange;
}
.poorPass{
	background-color: pink;
}
.veryPoorPass{
	background-color: red;
}